rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /gardens/{gardenId} {
      allow read: if true;
      allow create, update, delete: if true;
    }

    match /gardens/{gardenId}/habits/{habitId} {
      allow read: if true;
      allow create, update, delete: if true;
    }
  }
}
